doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/crud.js')

block content
    h1= title

    #wrapper

        //- #userInfo
        //-     #addUser
        //-         h2 Add New Player
        //-         fieldset
        //-             input#inputPlayerName(type='text', placeholder='Player Name')
        //-             br
        //-             input#inputGamesPlayed(type='text', placeholder='Games Played')
        //-             br
        //-             input#inputWins(type='text', placeholder='Win')
        //-             br
        //-             input#inputLosses(type='text', placeholder='Loss')
        //-             br
        //-             input#inputTopChamp(type='text', placeholder='Top Champion')                
        //-             br
        //-             button#btnAddUser Add Player
        //-             br
        //-             br
        //-         h2 Add/Edit Champion
        //-         fieldset
        //-             input#inputPlayerName(type='text', placeholder='Player Name')
        //-             br
        //-             input#inputGamesPlayed(type='text', placeholder='Games Played')
        //-             br
        //-             input#inputWins(type='text', placeholder='Win')
        //-             br
        //-             input#inputLosses(type='text', placeholder='Loss')
        //-             br
        //-             input#inputTopChamp(type='text', placeholder='Top Champion')                
        //-             br
        //-             button#btnAddUser Add Player

        #userList
            h2 Players Leaderboard 
            #leaderboard

            //- table
            //-     thead
            //-         th Player
            //-         th Games Played
            //-         th Wins
            //-         th Losses
            //-         th Top Champion
            //-         th Delete
            //-     tbody