doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/adminHelper.js')
    script(src='/javascripts/admin.js')

block content
    #navbar
        #announcement
            a(href='http://www.twitch.tv/la_ligue' class='navlink') Live Show @ Lundi 7h00 PM
        hr#navhr    
        #navlist
            ul
                li 
                    a(href='/leaderboard' class='navlink selected') Leaderboard (Saison 3)
                li
                    a(href='/analyst' class='navlink') Analystes
                li
                    a(href='http://www.twitch.tv/la_ligue' class='navlink') Twitch | 
                    a(href='https://www.facebook.com/laligueqc' class='navlink') Facebook | 
                    a(href='https://www.reddit.com/r/laligueqc/' class='navlink') Reddit
    br
    hr#mainhr
    #wrapper
        h1 Leaderboard - Admin
        br
        #leaderboard
        br
        fieldset
            input#inputPlayerName(type='text', placeholder='Player Name')
            button#btnAddPlayer Add Player
            br
            br
            input#inputPlayerLastGame(type='text', placeholder='Player / Last Game')
            button#btnLastGame Find Last Games / Player
        #info
        #matchesdata