doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/adminHelper.js')
    script(src='/javascripts/admin.js')

block content
    h1= title

    #wrapper
        br
        #leaderboard
        br
        fieldset
            input#inputPlayerName(type='text', placeholder='Player Name')
            button#btnAddPlayer Add Player
        #info