@font-face {
    font-family: raleway;
    src: url(Raleway-Light.ttf);
}

body {
    background-image: url("darkbg.png");
    background-repeat: repeat;
    padding: 30px;
    font: 14px raleway, "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #eee;
}

h1 {
    width: 1000px;
    margin: 0 auto;
}

a {
    color: white;
}

a:visited {
    color: white;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

.playerContainer {
    width: 90%;
    display: inline-block;
    background-color: rgba(10,10,10,0.4);
    padding: 20px;
    margin-bottom: 20px;
}

.imgSmallSquare {
    width: 48px;
    height: 48px;
}

.linkshowuser {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.playerName {
    font-size: 18px;
    margin-bottom: 10px;
    background-color: transparent;
    display: inline-block;
}

.playerTable {
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin: 0 auto;
    background-color: #333;
    border-collapse: collapse;
    color: white;
}

.playerTable input {
    text-align: center;
    width: 50px;
    height: 25px;
    font-size: 14px;
}

.playerTableHeader {
    font-size: 15px;
    font-weight: bold;
    background-color: #B80000;
}

.playerTotalRow td {
    font-size: 15px;
    margin-top: 10px;
}

.tdHeaderTitle {
    width: 100px; 
    height: 25px;
    margin-bottom: 5px;
}

.tdHeaderValue {
    width: 90px;
    height: 60px;
    font-size: 15px;
}

.tdChampSquare {
    padding: 3px;
}

.rowValues {
    color: #bbb;
}

.champOps {
    margin-top: 15px;
}

.champOps a {
    padding: 4px;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

fieldset {
    border:0;
    padding:0; margin:0;
    display: inline-block;
    vertical-align: baseline;
}

fieldset input {
    height: 20px;
    width: 150px;
}

fieldset button {
    padding: 5px 15px; 
    background:black;
    color: white; 
    border: 0 none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
    height: 30px;
}

#info {
    margin-top: 5px;
    color: orange;
    font-size: 14px;
}
